In [1]:
import pandas as pd

In [32]:
bond = pd.read_csv("csvfiles/jamesbond.csv")
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

# set_index() and reset_index()

In [35]:
bond.set_index(keys="Film" , inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [37]:
bond.reset_index(drop=False , inplace=True)

In [24]:
#bond.reset_index(drop=True).head()

   Year         Actor       Director  Box Office  Budget  Bond Actor Salary
0  1962  Sean Connery  Terence Young       448.8     7.0                0.6
1  1963  Sean Connery  Terence Young       543.8    12.6                1.6
2  1964  Sean Connery   Guy Hamilton       820.4    18.6                3.2
3  1965  Sean Connery  Terence Young       848.1    41.9                4.7
4  1967   David Niven     Ken Hughes       315.0    85.0                NaN

In [38]:
bond.set_index(keys="Film" , inplace=True)
bond.head()

,index,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,,
Dr. No,0,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,2,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,3,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,4,1967,David Niven,Ken Hughes,315.0,85.0,NaN

# .loc[] accessor

In [40]:
bond = pd.read_csv("csvfiles/jamesbond.csv" , index_col="Film")
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [41]:
bond.sort_index(inplace=True)

In [42]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [46]:
bond.loc["A View to a Kill"]

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object

In [49]:
bond.loc["Casino Royale"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [56]:
bond.loc["Diamonds Are Forever" : "From Russia with Love"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [57]:
 bond.loc["Diamonds Are Forever" : "From Russia with Love" : 2]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [59]:
movies = ["Diamonds Are Forever" , "From Russia with Love"]
bond.loc[movies]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

# .iloc - Returns values at the index of location specified

In [103]:
bond = pd.read_csv("csvfiles/jamesbond.csv")
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [104]:
bond.iloc[1]

Film                 From Russia with Love
Year                                  1963
Actor                         Sean Connery
Director                     Terence Young
Box Office                           543.8
Budget                                12.6
Bond Actor Salary                      1.6
Name: 1, dtype: object

In [105]:
bond.iloc[[1,2,3]]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [106]:
bond.set_index("Film" , inplace=True)
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [107]:
bond.iloc[23]

Year                          1965
Actor                 Sean Connery
Director             Terence Young
Box Office                   848.1
Budget                        41.9
Bond Actor Salary              4.7
Name: Thunderball, dtype: object

# Second arguments to loc and iloc

In [152]:
bond = pd.read_csv("csvfiles/jamesbond.csv" , index_col="Film")
bond.head(10)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [153]:
# Get the actor for a film
bond.loc[["Goldfinger" , "Thunderball"] , ["Actor" , "Director"]]

                    Actor       Director
Film
Goldfinger   Sean Connery   Guy Hamilton
Thunderball  Sean Connery  Terence Young

In [154]:
bond.loc["Goldfinger" , "Actor" : "Budget"]

Actor         Sean Connery
Director      Guy Hamilton
Box Office           820.4
Budget                18.6
Name: Goldfinger, dtype: object

In [155]:
bond.loc["Goldfinger":"Live and Let Die" , "Actor" : "Budget"]

,Actor,Director,Box Office,Budget
Film,,,,
Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6
Thunderball,Sean Connery,Terence Young,848.1,41.9
Casino Royale,David Niven,Ken Hughes,315.0,85.0
You Only Live Twice,Sean Connery,Lewis Gilbert,514.2,59.9
On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,291.5,37.3
Diamonds Are Forever,Sean Connery,Guy Hamilton,442.5,34.7
Live and Let Die,Roger Moore,Guy Hamilton,460.3,30.8

In [156]:
bond.iloc[14,2]

'John Glen'

# Modifying values at locations

In [157]:
bond.loc["Goldfinger" , "Actor" ] = "Sir Sean Connery"

In [158]:
bond.loc["Goldfinger" , "Actor" ]

'Sir Sean Connery'

In [159]:
bond.loc["Goldfinger" , ["Actor" ,"Director" ,"Budget" ]] = ["Mr Sir Sean Connery" , "Sir Guy Hamilton" , "25.6"]

In [160]:
bond.loc["Goldfinger"]

Year                                1964
Actor                Mr Sir Sean Connery
Director                Sir Guy Hamilton
Box Office                         820.4
Budget                              25.6
Bond Actor Salary                    3.2
Name: Goldfinger, dtype: object

In [161]:
bond.loc[bond["Actor"] == "Sean Connery" , "Actor"] = "Sir Sean Connery"

In [162]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Mr Sir Sean Connery,Sir Guy Hamilton,820.4,25.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85,NaN

# Renaming an index label

In [163]:
bond.rename(mapper={
    "Dr. No" : "Dr. Yes",
    "Goldfinger" : "Gold finger"
} , axis="rows")
#combining mapper and axis

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. Yes,1962,Sir Sean Connery,Terence Young,448.8,7,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Gold finger,1964,Mr Sir Sean Connery,Sir Guy Hamilton,820.4,25.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [164]:
#explicitly mention index
bond.rename(index={
    "Dr. No" : "Dr. Yes",
    "Goldfinger" : "Gold finger"
})

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. Yes,1962,Sir Sean Connery,Terence Young,448.8,7,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Gold finger,1964,Mr Sir Sean Connery,Sir Guy Hamilton,820.4,25.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

### Renaming columns

In [165]:
bond.rename(mapper={
    "Box Office" : "Revenue",
    "Budget" : "Expense"
} , axis="columns").head()

,Year,Actor,Director,Revenue,Expense,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Mr Sir Sean Connery,Sir Guy Hamilton,820.4,25.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85,NaN

In [166]:
bond.rename(columns={
    "Box Office" : "Revenue",
    "Budget" : "Expense"
}).head()

,Year,Actor,Director,Revenue,Expense,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Mr Sir Sean Connery,Sir Guy Hamilton,820.4,25.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85,NaN

### Change all column names

In [167]:
bond.columns

Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [168]:
bond.columns = ['Release Year', 'Actor Name', 'Director Name', 'Box Office Collection', 'Budget Incurred',
       'Bond Actor Salary']

In [169]:
bond.head()

,Release Year,Actor Name,Director Name,Box Office Collection,Budget Incurred,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Mr Sir Sean Connery,Sir Guy Hamilton,820.4,25.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85,NaN

# Delete rows or columns - Drop , pop , del

In [170]:
bond.drop("Dr. No")

,Release Year,Actor Name,Director Name,Box Office Collection,Budget Incurred,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Mr Sir Sean Connery,Sir Guy Hamilton,820.4,25.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [171]:
bond.drop("Box Office Collection" , axis="columns")

,Release Year,Actor Name,Director Name,Budget Incurred,Bond Actor Salary
Film,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,7,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,12.6,1.6
Goldfinger,1964,Mr Sir Sean Connery,Sir Guy Hamilton,25.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,85,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,86,NaN
Octopussy,1983,Roger Moore,John Glen,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,206.3,NaN

In [172]:
bond.pop("Actor Name")

Film
Dr. No                                Sir Sean Connery
From Russia with Love                 Sir Sean Connery
Goldfinger                         Mr Sir Sean Connery
Thunderball                           Sir Sean Connery
Casino Royale                              David Niven
You Only Live Twice                   Sir Sean Connery
On Her Majesty's Secret Service         George Lazenby
Diamonds Are Forever                  Sir Sean Connery
Live and Let Die                           Roger Moore
The Man with the Golden Gun                Roger Moore
The Spy Who Loved Me                       Roger Moore
Moonraker                                  Roger Moore
For Your Eyes Only                         Roger Moore
Never Say Never Again                 Sir Sean Connery
Octopussy                                  Roger Moore
A View to a Kill                           Roger Moore
The Living Daylights                    Timothy Dalton
Licence to Kill                         Timothy Dalton
GoldenEye                               Pierce Brosnan
Tomorrow Never Dies                     Pierce Brosnan
The World Is Not Enough                 Pierce Brosnan
Die Another Day                         Pierce Brosnan
Casino Royale                             Daniel Craig
Quantum of Solace                         Daniel Craig
Skyfall                                   Daniel Craig
Spectre                                   Daniel Craig
Name: Actor Name, dtype: object

In [173]:
bond.head()

,Release Year,Director Name,Box Office Collection,Budget Incurred,Bond Actor Salary
Film,,,,,
Dr. No,1962,Terence Young,448.8,7,0.6
From Russia with Love,1963,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Guy Hamilton,820.4,25.6,3.2
Thunderball,1965,Terence Young,848.1,41.9,4.7
Casino Royale,1967,Ken Hughes,315.0,85,NaN

In [174]:
bond = pd.read_csv("csvfiles/jamesbond.csv" , index_col="Film")
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [175]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [176]:
del bond["Director"]

In [177]:
bond.head()

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
Dr. No,1962,Sean Connery,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,820.4,18.6,3.2
Thunderball,1965,Sean Connery,848.1,41.9,4.7
Casino Royale,1967,David Niven,315.0,85.0,NaN

# Create random sample

In [180]:
bond = pd.read_csv("csvfiles/jamesbond.csv" , index_col="Film")

In [181]:
bond.head(2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [182]:
bond.sample()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1

In [184]:
bond.sample(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [187]:
bond.sample(frac=0.20)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [189]:
bond.sample(n=3 , axis="columns").head()

                              Actor  Year  Budget
Film
Dr. No                 Sean Connery  1962     7.0
From Russia with Love  Sean Connery  1963    12.6
Goldfinger             Sean Connery  1964    18.6
Thunderball            Sean Connery  1965    41.9
Casino Royale           David Niven  1967    85.0

# .nsmallest and .nlargest

In [194]:
bond.nsmallest(2 , "Year" , keep="first")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [198]:
df1 = bond.nlargest(3 , "Budget")
df1

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

# Filtering with where method

In [202]:
bond = pd.read_csv("csvfiles/jamesbond.csv" , index_col="Film")
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [203]:
mask = bond["Actor"] == "Sean Connery"
bond[mask].head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [206]:
mask2 = bond["Box Office"] > 800
bond.where(mask & mask2)
#Note that others are NaN

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

# The query() method
### Works only when column names dont have spaces

In [207]:
bond = pd.read_csv("csvfiles/jamesbond.csv" , index_col="Film")
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [208]:
bond.columns = [col_name.replace(" " , "_") for col_name in bond.columns]
bond.columns

Index(['Year', 'Actor', 'Director', 'Box_Office', 'Budget',
       'Bond_Actor_Salary'],
      dtype='object')

In [211]:
bond.query('Actor == "Sean Connery"').head()
# people have mentioned that its faster

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [213]:
bond.query('Actor == "Roger Moore" and Director == "John Glen"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [214]:
bond.query('Actor in ["Roger Moore" , "Sean Connery"]')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

# .apply()

In [215]:
bond = pd.read_csv("csvfiles/jamesbond.csv" , index_col="Film")
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [217]:
def convert_and_add_millions(number):
    return str(number) + " Millions!"

bond["Bond Actor Salary"] = bond["Bond Actor Salary"].apply(convert_and_add_millions)

In [218]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1 Millions!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3 Millions!
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,nan Millions!
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8 Millions!
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9 Millions!

In [219]:
bond = pd.read_csv("csvfiles/jamesbond.csv" , index_col="Film")
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [220]:
def good_movie(row):
    actor = row[1]
    budget = row[4]
    
    if actor == "Roger Moore":
        return "The best!"
    elif actor == "Sean Connery" and budget > 50:
        return "Awesome!"
    else:
        return "Not sure!"

In [242]:
bond["Review"] = bond.apply(good_movie , axis="columns")

In [243]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,Review
Film,,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,The best!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,Not sure!
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,Not sure!
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,Not sure!
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,Not sure!

In [245]:
bond.pop("Review")
Output = None

In [246]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9